main {
  padding: 26px 36px;
  width: 100%;
  overflow: hidden;
}
.jumbotron-img {
  width: 80vw;
  display: block;
  margin-bottom: 32px;
}
main > h1 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 16px;
}
main > h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 17.5px;
  width: 320px;
}

/* Card */
.card-container {
  margin-top: 50px;
  width: 100%;
  overflow-y: visible;
  overflow-x: scroll;
  display: flex;
  gap: 18px;
}
.card-item {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}
.card-item > .badge {
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 20px;
  height: 20px;
  width: 60px;
  font-size: 10.2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 2px;
  text-align: center;
}
.card-image {
  border-radius: 9px;
  width: 176px;
  height: 235px;
}
.card-content .star-image {
  display: inline-block;
  margin-right: 0.3rem;
  width: 14px;
  height: 14px;
}
.card-content > h4 {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.card-content > h5 {
  font-size: 12px;
  font-weight: 600;
}
.card-content > h5 > span {
  font-weight: 400;
}
