.card-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 470px;
  margin: 45px auto 28px;
}
.card-item {
  display: flex;
  gap: 19px;
}
.card-image {
  width: 125px;
  height: 168px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
}
.location {
  display: flex;
  align-items: center;
}
.country,
.location h4 {
  font-weight: 400;
  font-size: 10.3px;
}
.country {
  margin-left: 4px;
  margin-right: 12px;
  color: #2b283a;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}
.location a {
  color: #918e9b;
}
.card-title {
  font-weight: 700;
  font-size: 25px;
  margin: 4px 0 18px;
  color: #2b283a;
}
.card-date {
  font-weight: 700;
  font-size: 10.3px;
  color: #2b283a;
}
.card-desc {
  font-weight: 400;
  font-size: 10.3px;
  color: #2b283a;
}
